<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Discss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Discss.Properties.Settings>
            <setting name="ImageDirName" serializeAs="String">
                <value>image</value>
            </setting>
            <setting name="ServerXmlName" serializeAs="String">
                <value>server.xml</value>
            </setting>
            <setting name="CharacterXmlName" serializeAs="String">
                <value>character.xml</value>
            </setting>
            <setting name="SettingXmlName" serializeAs="String">
                <value>setting.xml</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>55555</value>
            </setting>
        </Discss.Properties.Settings>
    </applicationSettings>
</configuration>